<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target
      name="ApplicationLogFile"
      xsi:type="File"
      layout="${longdate} [${uppercase:${level:padding=-5}}] ${message} ${exception:format=tostring}"
      fileName="${basedir}Logs\Application.${date:format=yyyyMMdd}.log"
      encoding="UTF-8"
      archiveFileName="${basedir}Logs\Application.archive.{#}.log"
      archiveEvery="Day"
      archiveNumbering="Date"
      maxArchiveFiles="90"
      archiveDateFormat="yyyyMMdd"
      header="[Start Logging]"
      footer="[End Logging]${newline}"  />
    <target
      name="ApplicationConsole"
      xsi:type="ColoredConsole"
      layout="${longdate} [${uppercase:${level:padding=-5}}] ${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="ApplicationLogFile" />
    <logger name="*" minlevel="Info" writeTo="ApplicationConsole" />
  </rules>
</nlog>